body{
	border: 20px solid #bdc3c7; 
	font-family: 'Source Sans Pro', sans-serif;
	padding: 20px;
	max-width: 800px;
	width: 80%;
	margin: 20px auto;
}

h2{
	color: #2c3e50;
	font-weight: 700;
}

.date{
	color: #3498db;
	letter-spacing: 0.2rem;
}

p:nth-child(3){
	border-left: 6px solid #d9d9d9;
	padding-left: 5px;
}

/*
.first_p{
	border-left: 6px solid #d9d9d9;
	padding-left: 5px;
}*/
