body{
	font-family: 'Alfa Slab One', cursive;
	background-color: black;
}

button{
	outline: none;
	transition: 0.5s;
	height: 100%;
}

button:hover {
	color: white;
	background-color: #66c2ff; 
}

.bg-myblue{
	background-color: #66c2ff;
}

.jumbotron{
	padding: 16px;
	text-align: center;
	margin-bottom: 0px;
}

.jumbotron p{
	font-weight: lighter;
	font-size: 2rem;
}

.all9{
	max-width: 900px;
}

.squares{
	border: 2px solid black;
	border-radius: 25px;
	width: 30%;
	padding-bottom: 30%;
	margin: 1.66%;
	background-color: purple;
	float: left;
	transition: all 0.6s;
}

.selected{
	background-color: #66c2ff;
}

#menubar{
	background-color: white;
	text-align: center;
	vertical-align: center;
	margin-top: 0px;
	padding: 1px;
}

#menubar button{
	border: none;
}