body{
	font-family: 'Alfa Slab One', cursive;
	background-color: black;
}

.bg-myblue{
	background-color: #66c2ff;
}

.jumbotron{
	padding: 16px;
	text-align: center;
	margin-bottom: 0px;
}

.all9{
	max-width: 900px;
}

.squares{
	border: 2px solid black;
	border-radius: 25px;
	width: 30%;
	padding-bottom: 30%;
	margin: 1.66%;
	background-color: purple;
	float: left;
}

.selected{
	background-color: #66c2ff;
}

#menubar{
	background-color: white;
	text-align: center;
	vertical-align: center;
	margin-top: 0px;
	padding: 1px;
}

#menubar button{
	border: none;
}