<% include partials/header %>

<h1>stuff page</h1>

<p>for <%= moreStuff %></p>

<% if (moreStuff.toLowerCase() == "dog"){ %>
        <p>woof woof</p>
<%    }else{ %>
        <p>oh well, too bad</p>
<%    } %>

<% include partials/footer %>